## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[94, 82, 22, 36, 48, 50, 16, 56, 39, 75, 69, 84, 31, 14, 51, 64, 71, 52, 12, 65, 44, 73, 49, 9, 3, 77, 25, 97, 45, 96, 88, 21, 34, 60, 90, 37, 41, 47, 6, 55, 33, 66, 17, 32, 86, 0, 54, 85, 18, 81, 70, 11, 72, 91, 35, 23, 74, 8, 40, 57, 76, 78, 43, 46, 29, 68, 19, 2, 80, 99, 89, 4, 58, 24, 20, 7, 92, 10, 62, 95]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)
print("set1 =", set1)

set1 = {0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 99}

In [5]:
print("Length of the set1 is", len(set1))

Length of the set1 is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here

sample_list_2 = []

for i in range(0,80):
    x = random.randint(0,100)
    sample_list_2.append(x)

print(sample_list_2)

[62, 1, 73, 28, 7, 48, 62, 32, 28, 47, 77, 88, 99, 61, 69, 10, 76, 64, 100, 2, 7, 14, 25, 61, 63, 12, 80, 34, 76, 32, 91, 87, 42, 69, 96, 78, 23, 61, 88, 78, 81, 47, 17, 18, 61, 57, 77, 64, 6, 29, 77, 8, 59, 2, 79, 38, 29, 92, 61, 80, 49, 78, 4, 11, 54, 37, 45, 15, 90, 93, 95, 16, 95, 92, 29, 24, 51, 66, 1, 87]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
print("set2 =", set1)

set2 = {0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 99}

In [8]:
print("Length of the set2 is", len(set2))

Length of the set2 is 55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 3, 9, 19, 20, 21, 22, 31, 33, 35, 36, 39, 40, 41, 43, 44, 46, 50, 52, 55, 56, 58, 60, 65, 68, 70, 71, 72, 74, 75, 82, 84, 85, 86, 89, 94, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4 = set2 - set1
print(set4)

{1, 100, 38, 42, 15, 79, 93, 87, 59, 28, 61, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5 = set1 & set2
print (set5)

{2, 4, 6, 7, 8, 10, 11, 12, 14, 16, 17, 18, 23, 24, 25, 29, 32, 34, 37, 45, 47, 48, 49, 51, 54, 57, 62, 64, 66, 69, 73, 76, 77, 78, 80, 81, 88, 90, 91, 92, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
# Your code here
len(set1) == len(set3) + len(set5)

True

In [13]:
len(set2) == len(set4) + len(set5)

True

In [14]:
len(set1)

80

In [15]:
len(set2)

55

In [16]:
len(set3)

37

In [17]:
len(set4)

12

In [18]:
len(set5)

43

#### Create an empty set called `set6`.

In [19]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
# Your code here
set6 = {}
set6.update(set3)
print(set6)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

#### Check if `set1` and `set6` are equal.

In [21]:
# Your code here
if set1 == set6:
    print ("set1 and set6 are equal")
else:
    print("set1 and set6 are different")

set1 and set6 are different

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [22]:
# Your code here
set2.issubset(set1)

False

In [23]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here
print(set3.union(set4, set5, set6))

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

In [25]:
print(set1.union(set2))

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

In [26]:
set3.union(set4, set5, set6) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [27]:
# Your code here
print(set1.pop())
print("The pop method remove an aleatory element. It's not possible to choose the first element with this method")

0
The pop method remove an aleatory element. It's not possible to choose the first element with this method

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [28]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(list(filter(lambda a: a!= list_to_remove,set1)))

[2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 94, 95, 96, 97, 99]